mixin form-group-standard(label, name, type, placeholder)
  .form-group
    label.col-lg-2.col-md-3.col-sm-4.control-label= label
    .col-lg-10.col-md-9.col-sm-8
      input.form-control(type=type, name=name, placeholder=placeholder)

mixin form-group-checkbox(label, name, options)
  .form-group
    span.col-lg-2.col-md-3.col-sm-4.control-label= label
    .col-lg-10.col-md-9.col-sm-8
      each option in options
        label
          input(type="checkbox", name=name, value=option)
          |  #{option}

mixin dl-item(label, databind)
  dt=label
  dd {{ #{databind} }}
extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    hr
    .row
      .col-sm-6
        button.btn.btn-default.btn-sm.pull-right(data-toggle="collapse", data-target="#add-station", type="button")
          | Add Station
        h3 Stations
        .collapse#add-station
          .panel.panel-default
            .panel-heading
              h3.panel-title New Station
            .panel-body
              form.form-horizontal(role="form", method="post", action="/api/station")
                legend Station Details
                mixin form-group-standard("Mac Address", "mac", "text", "##:##:##:##:##:##")
                mixin form-group-checkbox("Roles", "roles", ["capture","mixer"])
                mixin form-group-standard("Nickname", "nickname", "text", "podium camera")
                mixin form-group-standard("Room", "room", "text", "")
                .form-group
                  .col-lg-offset-2.col-lg-10.col-md-offset-3.col-md-9.col-sm-offset-4.col-sm-8
                    button.btn.btn-default(type="submit") Submit
        ul.list-unstyled(data-bind="foreach: stations")
          li.panel.panel-default
            button.btn.btn-default.btn-xs.pull-right.btn-panel-edge(data-bind="click: removeStation")
              small
               i.glyphicon.glyphicon-remove
              |  Remove
            .panel-body
              dl.dl-horizontal
                mixin dl-item('Mac Address', 'settings.macaddress')
                mixin dl-item('Roles', 'settings.roles')
                mixin dl-item('Nickname', 'settings.nickname')
                mixin dl-item('Room', 'settings.room')
        
block scripts
  
