mixin form-group-standard(label, name, type, placeholder)
  .form-group
    label.col-lg-2.col-md-3.col-sm-4.control-label= label
    .col-lg-10.col-md-9.col-sm-8
      input.form-control(type=type, name=name, placeholder=placeholder)

mixin form-group-checkbox(label, name, options)
  .form-group
    span.col-lg-2.col-md-3.col-sm-4.control-label= label
    .col-lg-10.col-md-9.col-sm-8
      each option in options
        label
          input(type="checkbox", name=name, value=option)
          |  #{option}

mixin dl-item(label, databind)
  dt=label
  dd {{ #{databind} }}
extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    hr
    .row
      .col-sm-8
      .col-sm-4
        .form
          button.btn.btn-default.btn-sm.pull-right(data-toggle="collapse", data-target="#add-station", type="button", form-toggle)
            | Add Station
        h3 Stations
        .collapse#add-station
          .panel.panel-default
            .panel-heading
              h3.panel-title New Station
            .panel-body
              form.form-horizontal.data-async(role="form", method="post", action="/api/station")
                legend Station Details
                mixin form-group-standard("Mac Address", "macaddress", "text", "##:##:##:##:##:##")
                mixin form-group-checkbox("Roles", "roles", ["capture","mixer"])
                mixin form-group-standard("Nickname", "nickname", "text", "podium camera")
                mixin form-group-standard("Room", "room", "text", "")
                .form-group
                  .col-lg-offset-2.col-lg-10.col-md-offset-3.col-md-9.col-sm-offset-4.col-sm-8
                    button.btn.btn-default(type="submit") Submit
        ul.list-unstyled(data-bind="foreach: stations, visible: true" style="display: none;")
          li
            button.btn.btn-default.btn-xs.pull-right(data-bind="click: removeStation", title="Forget Station")
              small
               i.glyphicon.glyphicon-remove
            button.btn.btn-default.btn-xs.pull-right(data-bind="click: removeStation", title="Edit Station", style="margin-right: 5px")
              small
               i.glyphicon.glyphicon-edit
            strong {{ settings.nickname || macRewrite(settings.macaddress()) }}
            |  
            small {{ (settings.nickname) ? macRewrite(settings.macaddress()) : "" }}
            ul.list-inline
              li(data-bind="foreach: {data: settings.roles, as: 'role'}")
                span.label.label-primary {{role}}
                |  
          //-
            .panel.panel-default
              .panel-body
                dl.dl-horizontal
                  mixin dl-item('Mac Address', 'settings.macaddress')
                  mixin dl-item('Roles', 'settings.roles')
                  mixin dl-item('Nickname', 'settings.nickname')
                  mixin dl-item('Room', 'settings.room')
        
block scripts
  script.
    jQuery(function($) {
      $('form.data-async').on('submit', function(event) {
        var $form = $(this);
 
        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize(),
        })
          .done(function() {
            $form.parents('#add-station').collapse('hide')
          })
 
        event.preventDefault();
      });
    });
