mixin form-group-standard(label, name, type, placeholder)
  .form-group
    label.col-lg-2.col-md-3.col-sm-4.control-label= label
    .col-lg-10.col-md-9.col-sm-8
      input.form-control(type=type, name=name, placeholder=placeholder, data-bind="value: $data.#{name}")

mixin form-group-checkbox(label, name, options)
  .form-group
    span.col-lg-2.col-md-3.col-sm-4.control-label= label
    .col-lg-10.col-md-9.col-sm-8
      each option in options
        label
          input(type="checkbox", name=name, value=option, data-bind="checkedValue: '#{option}', checked: $data['#{name}']")
          |  #{option}

mixin dl-item(label, databind)
  dt=label
  dd {{ #{databind} }}
extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    hr
    .row
      .col-xs-8
        div(data-bind="foreach: {data: viewModel.rooms, as: 'roomId'}")
          h3(data-bind="text: roomId")
          div(data-bind="foreach: viewModel.stations().filter(function(item) { return roomId == item.settings.room() })")
            p(data-bind="text: ko.toJSON($data.ip)")
            p(data-bind="text: ko.toJSON($data.settings)")
      .col-xs-4
        div
          button.btn.btn-default.btn-sm.pull-right(data-toggle="collapse", data-target="#add-station", type="button", form-toggle)
            | Add Station
          h3 Stations
          .collapse#add-station
            .panel.panel-default
              .panel-heading
                h3.panel-title New Station
              .panel-body
                form.form-horizontal.data-async(role="form", data-bind="with: {roles: [], room: null, nickname: null, record_path: null}")
                  legend.test-data Station Details
                  mixin form-group-standard("Mac Address", "macaddress", "text", "##:##:##:##:##:##")
                  mixin form-group-checkbox("Roles", "roles", ["mixer","ingest","record","stream"])
                  mixin form-group-standard("Nickname", "nickname", "text", "podium camera")
                  mixin form-group-standard("Room", "room", "text", "")
                  mixin form-group-standard("Record Path", "record_path", "text", "")
                  .form-group
                    .col-lg-offset-2.col-lg-10.col-md-offset-3.col-md-9.col-sm-offset-4.col-sm-8
                      button.btn.btn-default(type="submit", data-bind="click: submitStation") Submit
        ul.list-unstyled(data-bind="foreach: stations, visible: true" style="display: none;")
          li
            button.btn.btn-default.btn-xs.pull-right(data-bind="click: removeStation", title="Forget Station")
              small
               i.glyphicon.glyphicon-remove
            strong(data-bind="editable: settings.nickname, editableOptions: {pk: 'unused', name: 'unused', url: '/api/stations/' + $data.settings.macaddress() + '/partial', params: {key: 'settings.nickname'}}")
            |  
            small {{ macRewrite(settings.macaddress()) }}
            dl
              dt Room
              dd(data-bind="editable: settings.room, editableOptions: {pk: 'unused', name: 'unused', url: '/api/stations/' + $data.settings.macaddress() + '/partial', params: {key: 'settings.room'}}")
            ul.list-inline
              li(data-bind="foreach: {data: settings.roles, as: 'role'}")
                span.label.label-primary {{role}}
                |  
